h2{
  text-align:center;
  color:#a30c16;
}
button{
  background-color: #a30c16;
  color:wheat;
  border-radius:15px;
  padding:0px 10px 0px 10px;
}
button:hover{
  background-color:#e0959a;
  color:white;
}
*{
  background-color: wheat;
}
input[type="email"]{
  text-align: center;
}
input[type="password"]{
  text-align: center;
}
p{
  text-align: center;
}
textarea{
  background-color:#a30c16;
}