h2{
  text-align:center;
}
button{
  background-color: #a30c16;
  color:wheat;
  border-radius:15px;
}
*{
  background-color: darkkhaki;
}
#loginForm{
  text-align: center;
}
p{
  text-align: center;
}
